body {
    font-family: var(--font-primary);
    font-size: var(--font-size-base);
    line-height: 1.6;
    /* min-height: 90vh; */
    max-width: 1500px;
    margin: 0 auto;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    background: var(--color-bg);
    box-shadow: 0 2px 8px rgba(51, 51, 102, 0.25);
    padding: 1rem;
}

